@font-face {
  font-family: 'SpaceMono';
  src: url('/fonts/SpaceMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/fonts/SpaceMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/fonts/SpaceMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/fonts/SpaceMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SpaceMono';
}

body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: rgba(0,255,0,.9);
  line-height: 1.5;
  margin: 2rem;
}

header {
  border-bottom: 1px solid rgba(0,255,0, .4);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 5px;
  position: sticky;
  top: 0px;
  background-color: #000;
  border-radius: 1px;
  width: 100%;
}

footer {
 display: flex;
}

a {
  color: #0066ff;
}

image {
  margin: 0 auto;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-links {
  margin-top: 1rem;
}

.spotlighted_post {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  width: 80%;
  border: 1px solid #00ff00;
}

.profile {
  border-radius: 12px;
}

.post {
  max-width: 1000px;
}

.post-timestamp {
  margin-bottom: .5rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
}
