@font-face {
  font-family: 'SpaceMono';
  src: url('/fonts/SpaceMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/fonts/SpaceMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/fonts/SpaceMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/fonts/SpaceMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SpaceMono';
}

body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: rgba(0,255,0,.9);
  height: 99vh;
}

header {
  border-bottom: 1px solid rgba(0,255,0, .4);
  margin-bottom: 1rem;
  padding: 5px;
  position: sticky;
  top: 0px;
  background-color: #000;
  border-radius: 1px;
  width: 100%;
}

.footer {
 margin-top: 1rem;
}

a {
  color: #0066ff;
}

image {
  margin: 0 auto;
  height: 50%;
  width: 50%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-links {
  margin-top: 1rem;
}

.spotlighted-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  max-width: 80ch;
  border-top: 1px solid #00ff00;
}

.recent-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  max-width: 80ch;
/*  border: 1px solid #00ff00;*/
}

.profile {
  border-radius: 12px;
}

.post {
  max-width: 80ch;
  font-size: 24px;
}

.post-wrapper {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-timestamp {
  margin-bottom: .5rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-input {
  border: none;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  
}

.subscribe-button {
  border: 1px solid #00ff00;
  border-radius: 4px;
  background-color: #000;
  color:#00ff00;
  padding: 8px 12px 8px 12px;

  &:hover {
    cursor: pointer;
  }
}

.tags {
  max-width: 80ch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
}


/* Utilities */
.center {
  display: flex;
  justify-content: center;
  text-align: center;
}