<form
  action="https://buttondown.email/api/emails/embed-subscribe/asymkowick"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/asymkowick', 'popupwindow')"
  class="embeddable-buttondown-form"
>

  <input class="subscribe-input" type="email" name="email" id="bd-email" placeholder="Email address" />
  
  <input class="subscribe-button" type="submit" value="Subscribe" type="button" />
  <p class="center">
    newsletter powered by
  </p>
  <a class="center" href="https://buttondown.email/refer/asymkowick" target="_blank">Buttondown</a>

</form>