#head {
    height: 300px;
    margin: 0 auto;
}

#bg {
        float: none;
}

.download-btn {
    border: 2px solid #9b3a57;
    border-radius: 8px;
    background-color: #9b3a57;
    box-shadow: #202020 8px 8px 8px;
    color: white;
    text-decoration: none;

    display: flex;
    justify-content: center;
    padding: 15px 25px 15px 25px;
    
}

.download-btn:hover {
    background-color: #772d44;
    border: 2px solid #772d44;
}

.recommended-sites {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
}

.card {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 2px solid #252627;
    border-radius: 8px;
    background-color: #252627;
    box-shadow: #202020 8px 8px 8px;

    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.card:hover {
    background-color: #202020;
    border: 2px solid #202020;
    cursor: pointer;
}

.byline {
    color: gray;
    font-style: italic;
    margin-bottom: -10px;
}

.headline {
    margin-bottom: -5px;
}
