{{ define "main" }}
  {{ .Content }}
  <div class="home">
  <h3>a software engineer and musician</h3>

  <image class="profile" src="/white.png" width="300" height="300"/>


  

  <div class="home-links"> 
    <a href="https://social.extremelyoffline.org/auth/sign_up">join</a>
    me at 

    <a rel="me" href="https://social.extremelyoffline.org/@ant">social.extremelyoffline.org</a>
  </div>

    {{ range (where .Site.RegularPages "Title" "eq" "Enwebbed") }}
      <p class="spotlighted-post"> {{ .Summary }} <a href="{{ .Permalink }}"> Read More -></a></p>
      
    {{end}}

  <!-- Show the latest post-->
  {{ range (where .Site.RegularPages "Title" "eq" "Does Your Terminal Spark Joy?") }}
  <h1>Posts</h1>
  <div class="recent-posts">  
      <p>{{ .Summary | first 200}}... <a href="{{ .Permalink }}"> Read More -></a>
      </p>

    </div>
  {{end}}

</div>
{{ end }}
