{{ define "main" }}
  {{ .Content }}
  <div class="home">
  <h1>a software engineer and musician</h1>

  <!-- Spotlighted Post -->
  {{ range (where .Site.RegularPages "Title" "eq" "Enwebbed") }}
      <p class="spotlighted-post"> {{ .Summary }} <a href="{{ .Permalink }}"> Read More -></a></p>
      
    {{end}}

    <!-- Range where specific post -->
    <!-- {{ range (where .Site.RegularPages "Title" "eq" "Flowering Moon") }}
    <div class="recent-posts">  
        <h2><a href="{{ .Permalink }}"> {{ .Title | first 200}}</a></h2>
      </div>
    {{end}} -->

    <div class="list">
      {{ range .Site.RegularPages  | first 5}}
        <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
      {{ end }}    
    </div>
</div>
{{ end }}
