.header {
  display: flex;
  justify-content: center;
  
  @media #{$media-size-phone} {
      justify-content: space-between;
  }
 
  position: fixed;
  z-index: 10;
  box-shadow: 0px 5px $shadow-color;
  border: 1px solid $border-color;
  border-radius: 2px;
  top: 0px;
  width: 100%;
  padding: 20px;
  
  font-family: 'Inter';
  background-color: $background-tertiary;
  color: $text-color-secondary;
  text-shadow: 2px 2px 2px $shadow-color;

  .title {
    display: flex;
    margin-right: 25px;

    color: $text-color-secondary;
    
    &:hover {
      cursor: pointer;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @media #{$media-size-phone} {
      flex-direction: row-reverse;
    }
  }

  & a {
    text-decoration: none;
    font-size: 1.25rem;
  }
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
}
