.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  padding: 20px;
  
  font-family: 'Inter';
  background-color: $background-secondary;
  color: $text-color-secondary;


  .title {
    margin-left: 18px;
    color: $text-color-secondary;
    margin-right: 18px;

    &:hover {
      cursor: pointer;
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    @media #{$media-size-phone} {
      flex-direction: row-reverse;
    }
  }

  & a {
    text-decoration: none;
  }
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
}
