.header {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  background: $background;
  
  @media #{$media-size-phone} {
      justify-content: space-between;
      padding: 1rem;
  }
 
  z-index: 10;
  top: 0px;
  width: 100%;
  padding-left: 1rem;
  font-family: Jost;

  .title {
    display: flex;
    align-items: center;
    
    &:hover {
      cursor: pointer;
      ::before {
        content: "(anthony) "
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media #{$media-size-phone} {
      flex-direction: row-reverse;
    }
  }

  & a {
    text-decoration: none;
    font-size: 2rem;
  }
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
}
