.menu {
  z-index: 9999;
  border-left: 1px solid $text-color-secondary;
  width: 100%;

  @media #{$media-size-phone} {
    position: absolute;
    top: 50px;
    right: 0;
    border: none;
    margin: 0;
    padding: 10px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
    font-size: 1rem;
    list-style: none;

    li {
      padding: 1rem;
      border-radius: 4px;
    }

    li:nth-child(1):hover {
      background: rgba(255,0,0,.5);
    }
    li:nth-child(2):hover {
      background: rgba(0,255,0,.5);
    }
    li:nth-child(3):hover {
      background: rgba(0,0,255,.5);
    }

    @media #{$media-size-phone} {
      flex-direction: column;
      align-items: center;
      background: $background;
      padding: 1rem;

      border: 1px solid black;
      border-radius: 4px;

      li {
        margin: .5rem;
        width: 100%;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 4px;
      }

      li:nth-child(1) {
        background: rgba(255,0,0,.5);
      }

      li:nth-child(2) {
        background: rgba(0,255,0,.5);
      }

      li:nth-child(3) {
        background: rgba(0,0,255,.5);
      }
    }
  }

  &-trigger {
    width: 24px;
    height: 24px;
    align-items: flex-start;
    fill: rgba(0,0,255,.5);
    cursor: pointer;
  }

  a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
