@charset "UTF-8";

/* dark theme colors */
$dark-background: #35383b;
$dark-background-secondary: #7693ac;
$dark-background-tertiary: #3856c4;
$darker-background: #292c2e;
$dark-color: #d0d2d1;
$dark-color-secondary: #fcf7e2;
$dark-border-color: #484c52;
$dark-shadow-color: #27292c;


$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
