@charset "UTF-8";

/* theme colors */
$background: white;
$background-secondary: #90323D;
$background-tertiary: #1b8866;

$text-color: #14110f;
$text-color-secondary: #fcf7e2;

$card-color: #f0ead6;
$border-color: #14110f;
$shadow-color: rgba(0,0,0,0.2);

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
