{{ define "main" }}
    <main aria-role="main">
        <div class="">
          <br>
          <br>

            <!-- Loop through all posts - excluding top-level-pages - and show the latest
            -->
            {{ $posts := where .Site.RegularPages "Type" "posts"}}
            {{ range first 3 $posts }}
            <div class="card"
                 onclick="window.location.href='{{ .RelPermalink }}'">
              <h3 class="byline">{{ .Date.Format "January 2, 2006" }}</h3>
                <h2 class="headline">{{ .Title }}</h2>
                <p>{{ .Params.tldr }}</p>
            </div>
            {{ end }}

            <h4><a href="/posts">More posts...</a></h4>
 
            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}

            <!--<a class="download-btn" href="resume.pdf" download="Resume_Anthony_Symkowick.pdf">Download Resume</a>-->
              
        </div>
        <div class="footer">
          <a class="h-card" rel="me" href="https://symkowick.org">
            <img src="/images/ant.jpeg" height="100px" width="75px" alt="pic of ant" /> Anthony Symkowick 
          </a>
            Thanks for visiting my blog. You can subscribe via RSS below.
        </div>
    </main>
{{ end }}
