{{ define "main" }}
    <main aria-role="main">
        <div class="">
          <br>
          <br>
            {{- with .Site.Params.homeSubtitle }}
                <h1>{{.}}</h1>
                <h2>software dev</h2>
            {{- end }}

            <!-- Loop through all posts - excluding top-level-pages - and show the latest
            -->
            {{ $posts := where .Site.RegularPages "Type" "posts"}}
            {{ range first 3 $posts }}
            <div class="card"
                 onclick="window.location.href='{{ .RelPermalink }}'">
              <h3 class="byline">{{ .Date.Format "January 2, 2006" }}</h3>
                <h2 class="headline">{{ .Title }}</h2>
                <p>{{ .Params.tldr }}</p>
            </div>
            {{ end }}

            <h4><a href="/posts">More posts...</a></h4>
 
            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}

            <div class="card">
                <h2 class="headline">Please Support These Sites:</h2>
              <p>
                <a href="https://blacklivesmatter.com/">https://blacklivesmatter.com/</a>
                <br>
                <a href="https://www.gnome.org/"> https://www.gnome.org/</a>
                <br>
                <a href="https://compassionatecoding.com/"> https://compassionatecoding.com/</a>
                <br>
                <a href="https://www.jacobinmag.com/">https://www.jacobinmag.com/</a>
                <br>
                <a href="https://www.khanacademy.org/"> https://www.khanacademy.org/</a>
              </p>
            </div>

            <a class="download-btn" href="resume.pdf" download="Resume_Anthony_Symkowick.pdf">Download Resume</a>
              
        </div>
        <div class="footer">
            Thanks for visiting my blog. You can subscribe via RSS below.
        </div>
    </main>
{{ end }}
