{{ define "main" }}
    <link rel="stylesheet" href="/css/main.css">
    <main aria-role="main">
        <div>
            <img id="head" src="images/profile-oval.png">
            <h1>{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            <a href="resume.pdf" download="Resume_Anthony_Symkowick.pdf">Download Resume</a>

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
